.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.reg h1{
  text-align: center;
  align-content: center;
  background-color: antiquewhite;
}
.form{
  text-align:center;
}