<p>
  deployment works!
</p>
<h1>Get DATA from External json apis</h1>
<button (click)="getPosts()">Get JsoN DATA</button>
<div *ngFor="let post of posts | async">
  <mat-card  class="example-card">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.albumId}}</mat-card-subtitle>
    <mat-card-header>
      <img src='{{post.url}}'>
    </mat-card-header>
  <mat-card-content>
    {{post.thuUrl}}
  </mat-card-content>   

  </mat-card>
  <h1>{{post.id}}</h1>
  <p>{{post.title}}</p>
  
</div>

<!-- <div class="conatiner">
<table *ngIf="post">

  <tr>
      <th>ID</th>
          <th>Name of Bird</th>
              <th>Type of Bird</th>
  </tr>


  <tr *ngFor="let post of posts.data">
      <td>{{post.title}}</td>
          <td>{{user.last_albumId}}</td>
          <td>{{user.thumbnailUrl}}</td>
              <td><img [src]="{{post.url}}"></td>
  </tr>
</table>
</div> -->
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

     Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" 
  
     Position Column
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let post"> {{post.id}} </td>
    </ng-container>
  
   Name Column
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>
  
     Weight Column 
    <ng-container matColumnDef="albumId">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>
  
     Symbol Column 
    <ng-container matColumnDef="thumbnailUrl">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="display"></tr>
    <tr mat-row *matRowDef="let row; columns: display;"></tr>
  </table> -->
  <div calss="container">
  <button mat-raised-button (click)="addColumn()"> Add column </button>
  <button mat-raised-button (click)="removeColumn()"> Remove column </button>
  <button mat-raised-button (click)="shuffle()"> Shuffle </button>
  
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <!-- <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator> -->
</div>
